__pycache__
snap
test_code
temp_docker-compose.yml
docker-compose2.yml
mc
minio*
HillarPythonREST2/
migrations
logs/
prac*
log/
last_time_of_s3_jsonfile_to_postgres.txt
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.httpie/
.lesshst
.local/
.mc/
.profile
.psql_history
.python_history
.selected_editor
.ssh/
.vim/
.viminfo
.vimrc
.virtualenvs/
.wget-hsts
